*{
    margin: o;
    padding: 0;
}
.centro{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 80px 850px;
}
.cajota1{
    background-color: black;
}
.cajota2{
    background-color: grey;
}
.cajota3{
    background-color: rgb(197, 135, 0);
}
.cajota4{
    display: grid;
    background-color: rgb(252, 248, 240);
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40px 80px 120px 300px 250px 40px ;
}
h1{
    text-align: center;
    color: black;
    font-size: 20px;
    position: relative; 
    top: 40%;
    left: 6%;
    transform: translateX(-50%) translateY(-50%);
    margin: 10px;
    grid-column: 1/ span 4;
}
.cj1{
    grid-column: 1/ span 4;
    border: solid;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}
.cj2i{
    text-align: center;
    border: solid;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 5px;
}
.cj2{
    text-align: center;
    border: solid;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.cj2d{
    text-align: center;
    border: solid;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 5px;
}
.cj3{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column: 1 / span 4;
}
.cj31{
    border: solid;
    margin-left: 40px;
    margin-right: 5px;
    margin-top: 20px;
}
.cj32{
    border: solid;
    margin-left: 5px;
    margin-right: 40px;
    margin-top: 20px;
}
.cj41{
    border: solid;
    margin-left: 40px;
    margin-right: 5px;
    margin-top: 20px;
    grid-column: 1 / span 3;
}
.cj42{
    border: solid;
    margin-left: 5px;
    margin-right: 40px;
    margin-top: 20px;
}
h2{
    text-align: center;
    color: black;
    font-size: 20px;
    position: relative; 
    top: 50%;
    left: 14%;
    transform: translateX(-50%) translateY(-50%);
    margin: 10px;
    grid-column: 1/ span 4;
}
a{
    text-align: center;
    color: white;
    font-size: 130%;
    position: relative; 
    top: 40%;
    left: 85%;
    transform: translateX(-50%) translateY(-50%);
    margin: 10px;
}
i{
    text-align: center;
    color: white;
    font-size: 150%;
    position: relative; 
    top: 50%;
    left: 35%;
    transform: translateX(-50%) translateY(-50%);

}
.fa-solid.fa-gauge{
    height: 50px;
    text-align: center;
    color: white;
    font-size: 15px;
    transform: translateX(50%) translateY(40%);
}
.fa-solid.fa-display{
    height: 50px;
    text-align: center;
    color: white;
    font-size: 15px;
    transform: translateX(46%) translateY(40%);
}
.fa-solid.fa-calendar-days{
    height: 50px;
    text-align: center;
    color: white;
    font-size: 15px;
    transform: translateX(43%) translateY(40%);
}
.fa-solid.fa-tablet-screen-button{
    height: 50px;
    text-align: center;
    color: white;
    font-size: 15px;
    transform: translateX(34%) translateY(40%);
}
.fa-solid.fa-table-cells-large{
    height: 50px;
    text-align: center;
    color: white;
    font-size: 15px;
    transform: translateX(80%) translateY(40%);
}
